<!-- wp:template-part {"slug":"silksong_header","theme":"sae402theme","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:heading -->
<h2 class="wp-block-heading">Privacy Policy</h2>
<!-- /wp:heading -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"/>
<!-- /wp:separator -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|60"}}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">We are not Team Cherry !</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"silksong_medium"} -->
<p class="has-silksong-medium-font-size">Only a student team who were given the chance to work with a video game series that they like.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"silksong_medium"} -->
<p class="has-silksong-medium-font-size">All the characters, items, and information showcased here is from two games, Hollow Knight® and Hollow Knight Silksong®, produced by Team Cherry. You can see their website here: <a href="https://www.teamcherry.com.au/">https://www.teamcherry.com.au/</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">What is this site about?</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"silksong_medium"} -->
<p class="has-silksong-medium-font-size">This website is a student project that simulates the arrival of an e-commerce website inside the world of Hollow Knight Silksong. It is designed to adress to the bugs of Pharloom and Hallownest.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">About cookies &amp; data usage</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"silksong_medium"} -->
<p class="has-silksong-medium-font-size">As any e-commerce website, by buying something you'd communicate us your email adress and possibly your phone numbered (if provided). These informations won't be used in any way, nor shared or sold to anyone. The website and all the data within it will be deleted during the months after the end of the project.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">E-commerce</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|orange2"}}}},"textColor":"orange2","fontSize":"silksong_large"} -->
<p class="has-orange-2-color has-text-color has-link-color has-silksong-large-font-size">We do not sell real things!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_medium"} -->
<p class="has-white-color has-text-color has-link-color has-silksong-medium-font-size">The project was about making 3D models of items or enemies from the game, and pretending that we're selling them. If you plan to try the website out, please be sure to use the test credit card or the amounts shown will actually be debited from your account.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">Hosting</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_medium"} -->
<p class="has-white-color has-text-color has-link-color has-silksong-medium-font-size">The website itself is hosted on a private server owned by the university, hence the fact that it's not public. No data collected using the website will get outside of student purpose, and out of the server.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_title"} -->
<h3 class="wp-block-heading has-white-color has-text-color has-link-color has-silksong-title-font-size">Contact</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_medium"} -->
<p class="has-white-color has-text-color has-link-color has-silksong-medium-font-size">The adress "support@hollowknightshop.com." is a fake one, for the sake of the project. If you are encountering any difficulty whatsoever, please contact the lead teacher for this project at this adress: denis.springinsfeld@unilim.fr</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","fontSize":"silksong_medium"} -->
<p class="has-white-color has-text-color has-link-color has-silksong-medium-font-size"></p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"silksong_footer","theme":"sae402theme","area":"uncategorized"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->